.contentWrap{
    margin-left: 10%;
    margin-right: 10%;
    margin-top:auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vh,50vh));
    grid-auto-rows:minmax(30vh,40vh);
    
}