

.navWrap {
  height: 5rem;
  margin-left: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 70% 30%;
}

.title {
  /*font-family: var(--font-medium);*/
  font-size: 18px;
  color: #525252;
}

.links {
  text-align: right;
  margin-right: 10px;
}

@media (max-width: 480px) {
  .navWrap {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    margin-left: 0;
    margin-top: 1rem;
  }
  .links {
    text-align: center;
    margin: 1rem;
  }
  .title {
    text-align: center;
  }
}
